name: docs

on:
  push:
    branches:
      - master
  schedule:
    - cron: 0 0 * * *

jobs:
  documentation:
    runs-on: ubuntu-latest

    steps:
      - name: Load last run details
        uses: actions/cache@v2.1.5
        with:
          path: |
            ~/rustc-version.txt
            ~/outcome.txt
          key: documentation

      - name: Install Rust
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: nightly
      - name: Compare rustc versions
        id: rustc-version
        if: github.event_name == 'schedule'
        continue-on-error: true
        run: "! diff -u ~/rustc-version.txt <(rustc -V)"
      - name: Save new rustc version
        run: rustc -V > ~/rustc-version.txt

      - name: Emit last outcome if rustc version is the same
        if: steps.rustc-version.outcome == 'failure'
        run: diff -u ~/outcome.txt <(echo "success")

      - name: Checkout
        if: steps.rustc-version.outcome != 'failure'
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install Curl
        if: steps.rustc-version.outcome != 'failure'
        run: |
          sudo apt update
          sudo apt install libcurl4-openssl-dev
      - name: Get sentry-native commit
        id: sentry-native
        if: steps.rustc-version.outcome != 'failure'
        run:
          echo "::set-output name=version::$(git submodule status | cut -d ' '
          -f 2)"
      - name: Cache sentry-native
        if: steps.rustc-version.outcome != 'failure'
        uses: actions/cache@v2.1.5
        with:
          path: ~/sentry-native
          key:
            ${{ runner.os }}-${{ steps.sentry-native.outputs.version }}-true-${{
            hashFiles('sentry-contrib-native-sys/build.rs') }}
      - name: Set SENTRY_NATIVE_INSTALL
        if: steps.rustc-version.outcome != 'failure'
        run: echo >>$GITHUB_ENV SENTRY_NATIVE_INSTALL=$HOME/sentry-native

      - name: Documentation
        if: steps.rustc-version.outcome != 'failure'
        env:
          RUSTDOCFLAGS: -Z unstable-options --enable-index-page
        run:
          cargo -v doc --features transport-custom,nightly --no-deps --workspace
          --exclude dylib

      - name: Deploy
        if: steps.rustc-version.outcome != 'failure'
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          branch: gh-pages
          folder: target/doc/
          git-config-name: github-actions
          git-config-email: 41898282+github-actions[bot]@users.noreply.github.com
          target-folder: master/doc/
          clean: true

      - name: Save outcome
        if: always() && steps.rustc-version.outcome != 'failure'
        run: echo ${{ job.status }} > ~/outcome.txt
